<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
<header class="site-header">
    <div class="wrapper">
        <a class="site-title" href="/"></a>
    </div>
</header>
<main>
    <div class="wrapper">
        <noscript><p class="centered">Please enable JavaScript in your browser.</p></noscript>
        {{ content }}
    </div>
</main>
<footer class="site-footer">
    <div class="wrapper">
        <p id="copyright">&copy; 2024 by inwerk</p>
    </div>
</footer>
<script type="text/javascript" src="/assets/js/script.js" defer></script>
</body>
</html>
